<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="../../asets/css/github-markdown.css">
	<link rel="stylesheet" href="../../asets/css/normalize.css">
	<link rel="stylesheet" href="../../asets/css/SmoothScroll.css">
	<link rel="stylesheet" href="../../asets/css/main.css">
</head>
<body>
	<main>
		<div class="viewport">
			<div class="container">
				<article class="md-content markdown-body">{{ content | safe}}</article>
			</div>
		</div>
	</main>
	<script src="../../asets/js/SmoothScroll.min.js"></script>
	<script src="../../asets/js/script.js"></script>
</body>
</html>
