<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/asets/css/main.css">
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
	<div class="container">
		<div class="post__container">
			{% for post in collections.all | reverse %}
				<a class="post" href="{{ post.url }}">
					<img src="{{post.data.postImg}}" alt="">
					<span class="tag__container">
						{% for tags in post.data.tags %}<small>{{tags}}</small>{% endfor %}
					</span>
					<span>{{post.date | formatDate}}</span>
					<h2>{{post.data.title}}</h2>
					<p class="descripcion">{{post.data.descripcion}}</p>
					<span class="mas">
						<p>Leer más</p>
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</span>
				</a>
			{% endfor %}
		</div>
	</div>
	
	<script src="/asets/js/main.js"></script>
</body>
</html>
